html, body{
	padding:0;
	margin:0;
}

body{
	background-image: url("../images/hpbg.png");
	background-size: cover;
}

h1{
	font-family: 'Henny Penny', cursive;
	margin: 40px 0px 40px 0px;
	color:white;
	font-size:3.5em;
	text-align:center;
	text-shadow: 2px 2px 4px #000000;
}

.wrapper{
	width: 900px;
	margin: auto;
}

.mainrow{
	text-align:center;
	letter-spacing: -10px;
}

	.character{ /*div containing the image*/
		display:inline-block;
		cursor: pointer;
		position:relative;
		margin: 0 5px 0 5px;
	}

		.character img{ /*each character image*/
			width:196px;
			height:146px;
			border: 2px solid black;
		}

.secondrow{
	text-align:center;
	letter-spacing: 70px;
	margin-top:10px;
	margin-bottom:10px;
}

	.secondrow div{ /*container holding the character divs*/
		display:inline-block;	
		width:200px;
		height: 150px;
		position:relative;
	}

	#vs{
		width:130px;
		height:130px;
		position:relative;
		border:3px solid black;
		bottom: 5px;
	}

	#player, #opponent{
		position:absolute;
		bottom:-48px;
		left:73px;
		font-size:1.4em;
		color: white;
		font-family: 'Oswald', sans-serif;
		letter-spacing:2px;
		color:#0DDEFF;
	}

	#opponent{
		left:60px;
		color:#ff6a37;
	}

.thirdrow{
	text-align:center;
}

	button{
		cursor:pointer;
	    background-color: #31B0D5;
	    border: none;
	    color: white;
	    padding: 3px 15px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 16px;
	    margin: 6px 4px;
	    cursor: pointer;
	    font-size:1.1em;
	    font-family: 'Henny Penny', cursive;		
	}

	#reset{
	    background-color: #FFFFFF;
	    color: black;
	}


.gamelog{
	margin-top:20px;
	border: 2px solid #00FFFF;
	text-align:center;
	border-radius: 25px;
}

	#log{
		color:white;
		font-family: 'Roboto', sans-serif;
		font-size:1.5em;
		line-height:150%;
	}


.hp, .atk, .cntr, .name{
	position:absolute;
	background-color:white;
	opacity: .8;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 2px;
	font-size:.8em;
	padding:2px;
}

.hp{
	top: 5px;
	left: 5px;	
}

.atk{
	top: 25px;
	left: 5px;
}


.cntr{
	top: 45px;
	left: 5px;
}

.name{
	width: 80%;
	bottom:10px;
	left:18px;
}


#blue-text{
	color:#0DDEFF;
	font-weight:900;
}

#red-text{
	color:#ff6a37;
	font-weight:900;
}

#yellow-text{
	color:yellow;
	font-weight:900;
}

#orange-text{
	color:orange;
	font-weight:900;
}

#green-text{
	color:#39FF14;
	font-weight:900;
}

